@page "/blogposts"

<PageTitle>Blog posts</PageTitle>
<h1>Blog posts</h1>
@if(BlogPostSummaryService.Summaries is null)
{
    <div>Loading ...</div>
}
else
{
    @foreach(var blogPostSummary in BlogPostSummaryService.Summaries.OrderByDescending(bps => bps.PublishedDate))
    {
        <BlogPostSummary Summary="@blogPostSummary" />
      
    }
}